
<div class="main">
<div class="container">

    <!--show errormsg-->
    <div *ngIf= "errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <!--show successmsg-->
    <div *ngIf= "successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


      <div class="row">
        <div class="col-sm-6 m-auto">
        <div class="card border-0 shadow ">
            <div class="card-body">
    <form [formGroup]= "eventForm" >
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16">
            <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
          </svg></div>
        <a routerLink="../event"><h3>Create Event</h3></a>
        <div class="card-content">
        <div class="card-content">
            <input type="text" 
            class="form-control"
            formControlName="subject"
            placeholder="Enter Subject"> 
        </div>
        <div class="card-content"> 
            <input type="datetime-local"
            class="form-control"
            formControlName="start_date"
            placeholder="Enter Start Date"> 
        </div>
        <div class="card-content"> 
            <input type="datetime-local"
            class="form-control"
            formControlName="end_date"
            placeholder="Enter End Date"> 
        </div>  

        <div class="card-content">
            <input type="text" 
            class="form-control"
            formControlName="room"
            placeholder="Enter Room"> 
        </div>

        <div class="button-container" *ngIf= "!getparmid_event" (click)= "eventSubmit()">
            <button class="btn  btn-primary btn-sm">Create</button>
        </div>

        <div class="button-container" *ngIf= "getparmid_event" (click)= "eventUpdate()">
            <button class="btn btn-dark btn-sm">Update</button>
        </div>
        </div>
    </form>


</div>