<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="homepage.component.css">
    <title>Homepage</title>
    </head>
    <STYLE>      

    </STYLE>
    <body>
        <div class="container"><div class="member"><a routerLink="../member">Members <div class="mgr">Manager  </div></a></div>
        
        
        
        
        <div class="event">
            <a routerLink="../event">Events <div class="mgr">Manager</div></a></div></div>
    </body>
    </html>
